configs/*
training_logs/*
data/*
*.pyc
*.ipynb
*.h5
*.npz
*.csv
*.png
*.gif
*.data
*.cfg
.nfsc*


# python
*.pyc

# cache
__pycache__
.cache

# test
.coverage*
coverage.xml
report.xml
testdata

# doc
public

# package
dist
_version.py
*.so

.vscode/
